<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/write.css"/>
    <title>Content Page</title>
</head>
<body>
    <div class="write-content">
        <div class="write-top">작성 글 보기</div>
        <div>
            <span class="span-title">제목</span> <p class="top-input">[[${board.title}]]</p>
            <span class="span-title">날짜</span> <p class="top-input">[[${board.writedate}]]</p>
            <span class="span-title">내용</span> <p class="top-textarea">[[${board.contents}]]</p>
        </div>
        <div class="top-filedown">
            <span class="span-filedown">파일 다운로드</span> &nbsp;
            <a th:href="@{/download/{fileName}( fileName=${board.fileName} )}">[[${board.fileName}]]</a>
        </div>
        </div>
        <div class="total-btn">
            <form action="/content" method="post">
                <input type="hidden" name="boardSeq" th:value="${board.boardSeq}">
                <input type="hidden" name="title" th:value="${board.title}">
                <input type="hidden" name="contents" th:value="${board.contents}">
                <input type="submit" class="board-btn" value="수정">
            </form>
            <form action="/delete" method="post">
                <input type="hidden" name="boardSeq" th:value="${board.boardSeq}">
                <input type="submit" class="board-btn" value="삭제">
            </form>
                <input type="button" class="board-btn" onclick="location.href='/board'" value="목록보기">
        </div>
    </div>


    <form action="/savereply" method="post" class="reply-top-form">
        <div class="span-title" style="margin-right: 465px;">댓글</div>
        <div class="reply-form">
            <input type="hidden" name="replyId" th:value="${memberId}">
            <input type="hidden" name="boardSeq" th:value="${board.boardSeq}">
            <textarea name="replyContents" class="textarea"></textarea>
            <button class="reply-btn">댓글 달기</button> 
        </div>
    </form>

    <div th:each="i : ${replyList}" class="reply-item">
        <div th:text="${i.replyId}" class="reply-id"></div>
        <div th:text="${i.replyContents}" class="reply-content"></div>
        <div class="reply-modifyBtn">
            <form action="/updatereply">
                <input type=hidden name="replySeq" th:value="${i.replySeq}">
                <input type="submit" value="수정" class="reply-btn">
            </form>
            <form action="/deletereply" method="post">
                <input type=hidden name="boardSeq" th:value="${i.boardSeq}">
                <input type=hidden name="replySeq" th:value="${i.replySeq}">
                <input type="submit" value="삭제" class="reply-btn">
            </form>
        </div>
    </div>
    
    <!-- <table class="table-list">
        <tr class="tr-1">
            <th>댓글</th>
            <th>아이디</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>

        <tr th:each="i : ${replyList}">
            <td th:text="${i.replyContents}"></td>
            <td th:text="${i.replyId}"></td>
            <td>
                <form action="/updatereply">
                    <input type=hidden name="replySeq" th:value="${i.replySeq}">
                    <input type="submit" value="수정">
                </form>
            </td>
            <td>
                <form action="/deletereply" method="post">
                    <input type=hidden name="boardSeq" th:value="${i.boardSeq}">
                    <input type=hidden name="replySeq" th:value="${i.replySeq}">
                    <input type="submit" value="삭제">
                </form>
            </td>
        </tr>
    </table> -->
</body>
</html>