<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/board.css"/>
  <title>Blog</title>
</head>
<body>
    <header>
        <div>
            <img src="/image/logo.png" width="225px" height="75px">
        </div>
        <div>
            <span class="header-span"><a href="/register">회원가입</a></span>
            <span class="header-span"><a href="/login">로그인</a></span>
        </div>
    </header>

      <div>
        <p>아이디(로그인 전용 아이디) 또는 비밀번호를 잘못 입력했습니다.</p>
        <p>입력하신 내용을 다시 확인해주세요.</p>
        <p>회원이 아닐 경우 회원가입해주세요.</p>
      </div>

  <footer>
    <div class="foot">Copyright ⓒ2023 게시판명.All right reserved.</div>
  </footer>
</body>
</html>
